.container{ 
    padding:25px;
    width:30%;
    position: relative;
    top:150px;
    background-color: aliceblue;
    border-radius: 5px;
}  
body{
    height:600px;
    background-image: linear-gradient(black, pink);
}
.back{
  
    text-align: end;
    position:relative;
    top: 200px;
    margin-right:20px;
}
.back a{
   text-decoration: none; 
   background-color: black;
   padding:10px;
   border-radius: 5px;
   color:white;
}